# 宿主机程序代码路径
APP_CODE_PATH_HOST=../

# 容器中程序路径
APP_CODE_PATH_CONTAINER=/var/www:cached

# 数据存储数径，例如mysql的数据等
DATA_PATH_HOST=~/.dockdev/data

# 数据卷驱动类型
VOLUMES_DRIVER=local

# 网桥类型
NETWORKS_DRIVER=bridge

# docker-compose执行的文件
COMPOSE_FILE=docker-compose.yml

# Change the separator from : to ; on Windows
COMPOSE_PATH_SEPARATOR=:

# 编排容器的名称前缀
COMPOSE_PROJECT_NAME=dockdev

# 添加(容器)主机名的标签，就是往/etc/hosts文件中添加一些记录
DOCKER_HOST_IP=10.0.75.1

# 支持windows路径
COMPOSE_CONVERT_WINDOWS_PATHS=1

### WORKSPACE #################################################
# 控制台用户id
WORKSPACE_PUID=1000
# 控制台组id
WORKSPACE_PGID=1000

### NGINX #################################################
# http主机端口
NGINX_HOST_HTTP_PORT=80
# https主机默认端口
NGINX_HOST_HTTPS_PORT=443
# nginx日志路径
NGINX_HOST_LOG_PATH=./logs/nginx/
# nginx站点路径
NGINX_SITES_PATH=./nginx/sites/
# nginx ssl文件夹
NGINX_SSL_PATH=./nginx/ssl/

### PHP #################################################
PHP_VERSION=7.2

### NODE #################################################
NODE_VERSION=10.15.1

### PYTHON #################################################
PYTHON_VERSION=3.6.8
FLASK_PORT=5000

### MYSQL #################################################
# mysql版本信息,默认为5.7
MYSQL_VERSION=5.7
MYSQL_DATABASE=default
MYSQL_USER=default
MYSQL_PASSWORD=secret
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root
MYSQL_ENTRYPOINT_INITDB=./mysql/docker-entrypoint-initdb.d
MYSQL_TIMEZONE=PRC
